.About {
  padding: 0 7rem;
  .About-top {
    display: flex;
    align-items: baseline;
    .about-image {
      display: inline;
    }

    .straight {
      display: inline;
      height: 2px;
      background-color: #fff;
      width: 100%;
      margin-top: -40px;
      position: relative;
      margin: 30px 0;
      margin-left: 40px;

      &::before {
        content: '';
        height: 12px;
        width: 12px;
        background-color: #8f8f8f;
        position: absolute;
        border-radius: 50%;
        top: -5px;
        left: 20%;
      }

      &::after {
        content: '';
        height: 12px;
        width: 12px;
        background-color: #8f8f8f;
        position: absolute;
        border-radius: 50%;
        top: -5px;
        right: 20%;
      }
    }
  }
  .About-desc {
    .set {
      display: flex;
      justify-content: space-evenly;
      .description {
        h2 {
          height: 50px;
          color: #fff;
        }

        p {
          font-family: 'Gotham', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          max-width: 80%;
          line-height: 1.23;
          color: #8f8f8f;
        }

        p .more {
          color: $white;
          display: flex;
          align-items: center;
          vertical-align: middle;
          margin: 20px 0;
          cursor: pointer;

          .img {
            transform: scale(0.45);
            margin: 50px 0;
            display: none;
          }
        }
      }
    }
  }
}
