.About {
  // padding: 0 122px;
  padding-left: 122px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 400px;
  height: 100%;
  @include media('<=tablet') {
    padding: 0 30px;
  }

  .description {
    flex: 1;
    margin: 20px 0;

    &.about {
      margin-top: 80px;
    }
    h2 {
      color: #fff;
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 125.7%;
      margin-bottom: 30px;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        bottom: -10px;
        left: 0px;
        width: 80%;
        height: 3px;
        transform-origin: left;
        transform: scaleX(0);
        transition: background 0.4s ease-in;
        opacity: 1;
        background-image: url('../../public/img/how-strip.svg');
      }

      &:hover::after {
        opacity: 0.7;
        transform: scaleX(1);
        transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 1),
          opacity 0.1s linear;
      }
    }

    p {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      max-width: 80%;
      line-height: 1.23;
      color: #8f8f8f;
    }

    p .more {
      color: $white;
      display: flex;
      align-items: center;
      vertical-align: middle;
      margin: 20px 0;
      cursor: pointer;
      height: 24px;

      .img {
        transform: scale(0.8);
        margin: 50px 10px;
        display: none;
      }
    }
  }

  @include media('<=tablet') {
    padding: 0;
    padding-left: 3rem;
  }
  .About-top {
    display: flex;
    align-items: flex-end;

    @include media('<=tablet') {
      flex-direction: column;
      align-items: flex-start;
    }
    .about-image {
      display: inline;
    }

    .straight {
      display: inline;
      height: 2px;
      background-color: #fff;
      width: 100%;
      margin-top: -40px;
      position: relative;
      margin: 30px 0;
      margin-left: 40px;

      @include media('<=tablet') {
        margin-left: 2vw;
      }

      &::before {
        content: '';
        height: 12px;
        width: 12px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: -5px;
        left: 15%;

        @include media('<=tablet') {
          display: none;
        }
      }

      &::after {
        content: '';
        height: 12px;
        width: 12px;
        background-color: #fff;
        position: absolute;
        border-radius: 50%;
        top: -5px;
        right: 42%;
        @include media('<=tablet') {
          display: none;
        }
      }
    }
  }
  .About-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .set {
      max-width: 800px;
      display: flex;
      justify-content: space-evenly;
      margin-left: 250px;
      // @include media('<=tablet') {
      //   flex-direction: column;
      //   margin-left: 0;
      // }
    }

    .second-set {
      gap: 50px;
      .images {
        display: flex;
        align-items: center;
        gap: 30px;
        .image {
          width: 150px;
          height: 150px;

          // text-align: center;
          span {
            padding: 5px 0;
            color: #8f8f8f;
            display: block;
            font-size: 14px;

            &.ray {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .carousel-container {
    width: 100%;
  }

  @include media('<=tablet') {
    .image {
      width: 230p;
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        object-fit: contain;
      }
      p {
        padding: 10px 0;
        color: #8f8f8f;
      }
    }
  }
}
