@font-face {
  font-family: 'Tiempos Headline';
  src: url('../../public/fonts/Tiempos/TiemposHeadline-Regular.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Tiempos Headline Light';
  src: url('../../public/fonts/Tiempos/TiemposHeadline-Light.otf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../public/fonts/Gotham/GothamBook.ttf');
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}
