.hero {
  display: flex;
  height: 776px;
  align-items: center;
  justify-content: space-between;
  padding: 0 122px;
  width: 100%;

  @include media('<=tablet') {
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 30px;
  }

  .heroText {
    h1 {
      font-family: 'Tiempos Headline', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 65px;
      line-height: 1.1;
      display: flex;
      align-items: center;
      color: #ffffff;
      width: 500px;
      @include media('<=tablet') {
        font-size: 30px;
        line-height: 1.5;
        width: 250px;
      }
    }

    .hero-description {
      max-width: 500px;
      margin: 30px 0;
      line-height: 1.4;
      font-size: 20px;
      font-weight: 400;
      @include media('<=tablet') {
        font-size: 16px;
      }
    }
  }
  .cta-button {
    border: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    padding: 10px 30px;
    border: 1px solid#fff;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 3px;
      transform-origin: left;
      transform: scaleX(0);
      transition: background 0.4s ease-in;
      opacity: 1;
      background-image: url('../../public/img/cta-strip.svg');
    }

    &:hover {
      border-bottom: none;
      &::after {
        opacity: 0.7;
        transform: scaleX(1);
        transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 1),
          opacity 0.1s linear;
      }
    }

    // &:hover {
    //   box-shadow: inset 0 -5px 0 #fc5185, inset 0 -5px 0 #7b272c;
    // }
  }
  .heroImage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    mix-blend-mode: lighten;
    min-height: 500px;
    transition: visibility 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    .hero-right {
      .hero-spotlight {
        position: absolute;
        background: url('../../public//img//spotlight.png');
        transform: scale(0);
        mix-blend-mode: lighten;
        opacity: 0.2;
      }
    }

    .spotlight {
      position: absolute;
      top: -300px;
      right: -180px;
      visibility: hidden;
      transform: scale(0.85);
      opacity: 0.2;
      transition: 0.1s ease-in;
    }

    &:hover {
      .spotlight {
        visibility: visible;
        opacity: 0.012;
      }
    }
  }
  .hero-logo {
    display: flex;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .toggles {
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translate(20px, -50%);
    @include media('<=tablet') {
      // right: 50px;
    }
    .toggle {
      height: 16px;
      width: 16px;
      border: 1px solid #ffffff;
      margin: 10px 0;
      border-radius: 50%;
      position: relative;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        height: 10px;
        background: transparent;
        width: 10px;
        border-radius: 50%;

        &.show {
          background: white;
        }
      }
    }
  }
}
