.How {
  margin-top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-items: center;
  max-width: 95%;
  .How-header {
    font-family: 'Tiempos Headline', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 10px;

    @include media('<=tablet') {
      font-size: 7vw;
      text-align: center;
    }
  }
  .How-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    @include media('<=tablet') {
      grid-template-columns: 1fr;
    }
    .How-card {
      margin: 30px 8vw;
      display: grid;
      grid-template-columns: 1fr 5fr;
      @include media('<=tablet') {
        grid-template-columns: 1fr 6fr;
      }
      .How-card-logo {
        text-align: center;
      }

      .How-Card-text {
        margin-left: 5px;
        text-align: justify;
        @include media('<=tablet') {
          grid-template-columns: 1fr 6fr;
        }
        p:nth-of-type(1) {
          font-family: 'Gotham', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          color: #ffffff;
          margin-bottom: 20px;
        }
        color: #8f8f8f;
      }
    }
  }
}
