.Illustration {
  .Illustration-art {
    background-image: url('../../public/img/music-bg.png');
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Illustration-talents {
    text-align: center;
    margin: 100px 20px;
    .header {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .line {
        position: relative;
        width: 25%;

        &::after {
          position: absolute;
          content: '';
          bottom: 5px;
          left: 0px;
          width: 100%;
          height: 3px;
          transform-origin: left;
          transform: scaleX(0);
          transition: background 0.4s ease-in;
          opacity: 1;
          background-image: url('../../public/img/how-strip.svg');
        }
      }

      &:hover {
        .line::after {
          opacity: 0.7;
          transform: scaleX(1);
          transition: transform 0.7s cubic-bezier(0.2, 1, 0.3, 1),
            opacity 0.1s linear;
        }
      }
    }

    h2 {
      font-family: 'Tiempos Headline', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 1.5;
      text-align: center;
      color: #ffffff;
    }
    .talents {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      gap: 50px;
      margin-top: 40px;

      .talent {
        .talent-image {
          border-radius: 50%;
          width: 70px;
          height: 70px;
          transform: scale(0.8);
        }
        p {
          font-family: 'Gotham', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 125.7%;
          color: #8f8f8f;
        }
      }
    }
  }
}
