.general-modal {
  z-index: 3000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  background-color: #000;
  opacity: 1;
  transform: none;
  visibility: visible;

  &.hide {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
    // display: none;
  }

  .mobile-nav {
    @include media('>tablet') {
      display: none;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .burger {
      transform: scale(2);
    }
  }

  .general-modal-container {
    position: relative;
    .cancel-button {
      position: absolute;
      top: 41px;
      right: 30px;
    }
  }
}
