.Preloader {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .image-container {
    // background: url('../../public/img/Loader.png');
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    height: 416px;
    width: 416px;
animation: monFrame 2s infinite;
    // border: 1px solid red;
  }

  @keyframes monFrame {
    0% {
      transform: scale(0.2);
    }
    25% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(.5);
    }
    100% {
      transform: scale(.2);
    }
  }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}
