.Slides {
  display: 'flex';
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding: 100px 0;

  .carousel-container {
    width: 100%;
  }


.react-multiple-carousel__arrow--right {
  right: 10px !important;
}

.react-multiple-carousel__arrow--left {
  left: -10px !important;
}

}
