.Testimonials {
  &-Header {
    text-align: center;
    h2 {
      font-family: 'Tiempos Headline', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 43px;
      text-align: center;

      color: #ffffff;
    }
  }
}
