.Testimonials {
  padding: 100px 20px;
  min-height: 600px;
  height: 100%;
  &-Header {
    text-align: center;
    margin: 100px auto;
    @include media('<=tablet') {
      text-align: left;
    }
    h2 {
      font-family: 'Tiempos Headline Light', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 1.5;
      text-align: center;
      color: #ffffff;

      @include media('<=tablet') {
        font-size: 34px;
        text-align: left;
        padding: 0;
        margin: 0 2vw;
      }
    }
  }

  &-feeds {
    display: grid;
    grid-template-areas: '. . three . five . seven . .';
    gap: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;

    @include media('<=tablet') {
      grid-template-areas:
        '. three .'
        'five . seven';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  &-feed {
    display: grid;
    grid-template-areas: '. two . four . six . eight .';
    gap: 10px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    margin-top: 30px;

    @include media('<=tablet') {
      grid-template-areas:
        '. two .'
        'four . six'
        '.  eight .';
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }
  .Testimony {
    position: relative;
    display: flex;
    justify-content: center;

    &.two {
      grid-area: two;
    }

    &.three {
      grid-area: three;
    }
    &.four {
      grid-area: four;
    }
    &.five {
      grid-area: five;
    }
    &.six {
      grid-area: six;
    }
    &.seven {
      grid-area: seven;
    }
    &.eight {
      grid-area: eight;

      @include media('<=tablet') {
        display: none;
      }
    }

    &.nine {
      grid-area: nine;
    }

    @include media('<=450px') {
      margin: 9%;
    }
    .Testimony-banner {
      position: absolute;
      transform: scale(0.8);
      right: -10px;
      bottom: 3px;
      cursor: pointer;
    }

    .Testimony-statement {
      position: absolute;
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      color: #000000;
      min-width: 200px;
      width: 100%;
      top: 0px;
      right: 0;
      top: -20px;
      display: flex;
      justify-content: flex-end;

      &.left {
        right: -150px;
        @include media('<=tablet') {
          left: -150px;
        }
      }

      &.right {
        right: -150px;
        @include media('<=tablet') {
          right: -150px;
        }
      }

      .vector-cover {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
          background: #fff;
          margin-block-start: 0em;
          margin-block-end: 0em;
          // margin: 0.1rem;
          padding: 20px 10px;
          min-height: 30px;
          border-radius: 30px;
          width: 90%;
          position: relative;
          // text-align:center;
          line-height: 1.2;
          // transform:scale(.95);

          @include media('<=450px') {
            transform: scale(0.65);
          }
          &::before {
            content: '';
            width: 0px;
            height: 0px;
            position: absolute;
            border-left: 24px solid #fff;
            border-right: 12px solid transparent;
            border-top: 12px solid #fff;
            border-bottom: 20px solid transparent;
            left: 32px;
            bottom: -24px;
            transform-origin: center center;
            transform: scale(0.7);
            transform: rotate(15deg);
          }
          &.left {
            &::before {
              @include media('<=tablet') {
                left: 70%;
                transform: rotate(65deg);
              }

              //  right:32%;
            }
          }
        }

        .vector {
          // padding: 5px 10px;
          font-size: 11px;
          line-height: 0.97;
        }
      }
    }
  }
}
